<div id="updatePassword" class="modal fade" role="dialog">
  <%=form_tag reset_password_users_path, id: 'updatePasswordForm', remote: :true do %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Reset Password</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Email</label>
            <input name="user[email]" type="email" class="form-control" id="email">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
