.profile {
  text-align: center;
}

.username {
  margin-top: 5px;
}

.pull-right {
  float: right;
  margin-right: 30px;
}

.widget {
  margin-top: 20px;
  text-align: center;
}

.edit-password, .edit-profile {
  position: relative;
  left: 44%;
  margin-top: 5px;
}

.hidden {
  display: none;
}

#searchForm {
  float: right;
  margin-right: 20px;
}